<h1 mat-dialog-title>Select Driver</h1>
<div mat-dialog-content>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Driver Name</th>
                <th scope="col">Driver Id</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers">
                <td>{{driver.name}}</td>
                <td>{{driver.idNumber}}</td>
                <td>{{driver.phoneNumber}}</td>
                <td *ngIf="(driver.cab); else selectDriver">Assigned</td>
                <ng-template #selectDriver>
                    <td><button class="btn btn-sm btn-primary"
                            (click)="onSelectDriver(this.cabId,driver.id)">Select</button></td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions>

</div>