<div class="container-md mt-3 center">

    <button class="addCab-btn" type="submit" mat-raised-button color="accent" (click)="addCabForm()">Add
        Cab</button>
    <div class="text-center">
        <h1>Cabs List</h1>

    </div>


    <div class="row">
        <div class="col-sm-auto col-12 mb-3 mx-auto" *ngFor="let cab of cabs">
            <div class="card" style="width:50rem;height: 15rem;">
                <img class="card-img-top" src="/assets/images/background.jpg" alt="Card image">
                <div class="card-body">
                    <button class="btn float-end" (click)="updateCabForm(cab)" ngbTooltip="Update Cab" mat-icon-button><mat-icon>create</mat-icon></button>
                    <button class="btn float-end" ngbTooltip="Remove Cab" mat-icon-button
                        (click)="removeCab(cab.id)"><mat-icon>delete</mat-icon></button>
                    <h4 class="card-title fw-bold text-center">Cab Details</h4> 
                    <p class="card-text"><b>Cab Model:</b>{{cab.cabModel}} </p>
                    <p class="card-text"><b>Cab Colour:</b>{{cab.cabColour}}</p>
                    <p class="card-text"><b>Cab Registration Number:</b>{{cab.cabRegistrationNumber}}</p>
                    <div class="card-footer" *ngIf="(cab.driver); else noDriver">
                        <p>
                            <b>Driver Details</b>:
                            <button class="btn float-end" ngbTooltip="Assign Driver" mat-icon-button (click)="assignDriver(cab)"><mat-icon>create</mat-icon></button>
                            <button class="btn float-end" ngbTooltip="Remove Driver" mat-icon-button
                                (click)="unassignedDriver(cab.id)"><mat-icon>delete</mat-icon></button>
                            <br>Name:{{cab.driver.name}} <br>
                            Driver Id:{{cab.driver.idNumber}}
                        </p>

                    </div>
                    <ng-template #noDriver>
                        <div class="card-footer">
                            <button class="btn btn-outline-primary float-left" type="button"
                                (click)="assignDriver(cab)">Assign
                                Driver</button>
                            <!-- <button class="btn btn-theme" type="button">+
                            </button> -->
                            <button class="btn float-right" mat-icon-button type="button"><mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>