  <div class="container-md mt-3 center">

    <button class="addCab-btn" type="submit" mat-raised-button color="accent" (click)="addDriverForm()">Add
        Cab</button>
    <div class="text-center">
        <h1>Cabs List</h1>

    </div>


    <div class="row">
        <div class="col-sm-auto col-12 mb-3 mx-auto" *ngFor="let driver of drivers">
            <div class="card" style="width:50rem;height: 15rem;">
                <img class="card-img-top" src="/assets/images/background.jpg" alt="Card image">
                <div class="card-body">
                    <button class="btn float-end" (click)="updateDriverForm(driver)" ngbTooltip="Update Cab" mat-icon-button><mat-icon>create</mat-icon></button>
                    <button class="btn float-end" ngbTooltip="Remove Cab" mat-icon-button
                        (click)="removeDriver(driver.id)"><mat-icon>delete</mat-icon></button>
                    <h4 class="card-title fw-bold text-center">Driver Details</h4> 
                    <p class="card-text"><b>Name:</b>{{driver.name}} </p>
                    <p class="card-text"><b>email:</b>{{driver.email}}</p>
                    <p class="card-text"><b>Phone:</b>{{driver.phoneNumber}}</p>
                    <div class="card-footer" *ngIf="(driver.cab); else noCab">
                        <p>
                            <b>Cab Details</b>:
                            <button class="btn float-end" ngbTooltip="Assign Driver" mat-icon-button (click)="assignCab(driver)"><mat-icon>create</mat-icon></button>
                            <button class="btn float-end" ngbTooltip="Remove Driver" mat-icon-button
                                (click)="unassignedCab(driver.id)"><mat-icon>delete</mat-icon></button>
                            <br>Model:{{driver.cab.cabModel}} <br>
                            Colour:{{driver.cab.cabColour}}<br>
                            Registration Number:{{driver.cab.cabRegistrationNumber}}
                        </p>

                    </div>
                    <ng-template #noCab>
                        <div class="card-footer">
                            <button class="btn btn-outline-primary float-left" type="button"
                                (click)="assignCab(driver)">Assign
                                Cab</button>
                            <!-- <button class="btn btn-theme" type="button">+
                            </button> -->
                            <button class="btn float-right" mat-icon-button type="button"><mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
